/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC; 
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF; 
    --White: #FFF;
    --Black: #000;
    --Grey-Tint2: #D9D9D9; 

    /* main */
    --main-container-gap: 0 50px;
   
    /* Header */
    --header-flex-direction: row;
    --header-padding: 0 50px;
    --header-img-padding: 30px 50px 30px 0;
    --header-navigation-height: 50%;
    --header-navigation-gap: 68px;
    --header-navigation-align-item: end;
    --header-border-top : 2px solid transparent;
    --header-border-top-hover : 2px solid var(--main-color);
    --header-border-bottom : none;
    --header-border-bottom-hover : none;

    /* info recherche*/
    --information-padding: 0;
    --information-search-width: 377px;
    --information-search-height: 49px;
    --information-search-input: 195px;
    --information-border-radius: 15px;
    --information-border-radius-lr: 0;
    --information-span-display: inline;
    --information-magnifying-glass-display: none;

    /* info filtre*/
    --information-filter-gap: 15px;
    --information-filter-direction: row;
    --information-filter-group-gap: 15px;
    --information-filter-button-height: 50px;
    --information-filter-title-align: center;
    --information-filter-action-font-size: 17px;

    /* hebergement-populaire*/
    --hebergements-popuplaires-display-direction: row;
    --hebergements-popuplaires-gap: 40px;

    /* hebergement*/
    --hebergements-width: 65%;
    --hebergements-padding: 30px;
    --hebergements-gap: 30px;
    --hebergements-cards-grid-column: 1fr 1fr 1fr;
    --hebergements-cards-gap: 30px;

     /* populaire*/
     --populaires-width: 32%;
     --populaires-padding: 30px;
     --populaires-gap: 30px;
     --populaires-cards-gap: 30px;
     --populaires-cards-grid-column: 1fr;

    /* activities*/
    --activities-cards-grid-column: 1fr 1fr 1fr 1fr;
    --activities-cards-gab: 30px;
    --activities-img: 380px;
    
    /* Footer*/
    --footer-direction: row;
    --footer-padding: 0;
    --footer-gap: 0;
    --footer-div-padding: 20px;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.body-container {
    display: flex;
    flex-direction: column;
    width: 100%; 
    max-width: 1440px;
    gap: 30px;
}   

.main-container {
    display: flex;
    flex-direction: column;
    padding: var(--main-container-gap);
    box-sizing: border-box;
    gap: 35px;
}   

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    margin: 0;
}

.card-subtitle{
    font-size: 14px;
    margin: 0;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/**************************************************************************************/
/*************************************** Header ***************************************/
/**************************************************************************************/
header {
    display: flex;
    flex-direction: var(--header-flex-direction);
    justify-content: space-between;
    padding: var(--header-padding);
}

header img {
    height: 19px;
    padding: var(--header-img-padding);
}

.header-navigation {
    height: var(--header-navigation-height);
    display: flex;
    gap: var(--header-navigation-gap); 
}

.header-navigation a {
    display: flex;
    align-items: var(--header-navigation-align-item);
    border-top: var(--header-border-top);
    border-bottom: var(--header-border-bottom);
}

.header-navigation a:hover {
    color: var(--main-color);
    border-top:  var(--header-border-top-hover);
    border-bottom: var(--header-border-bottom-hover);
}

/**************************************************************************************/
/**************************************** Main ****************************************/
/**************************************************************************************/
/*
/*************************************** Information ***************************************/
.information {
    display: flex;
    flex-direction: column;
    gap:35px;
    padding: var(--information-padding);
}

.information .information-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.information .information-title p {
    font-size: 16px;
    margin: 0px;
}

/*********** Recherche ***********/
.information .information-search {
    display: flex;
    width: var(--information-search-width);
    height: var(--information-search-height);
    border: 1px solid var(--Grey, #F2F2F2);
    /*arrondir le conteneur form, comme pour le bouton recherche et l'icône*/
    border-radius: var(--information-border-radius);
}

.information .information-search .fa-location-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    border-radius: var(--information-border-radius) 0 0 var(--information-border-radius);
    background: var(--main-bg-color);
    color: var(--Black);
    flex-shrink: 0;
}

.information .information-search input, input::placeholder{
    font-size: 18px;
    font-weight: 700;
    padding: 0px;
    width: var(--information-search-input);
    text-align: center;
    border: none;
    color: var(--Black);
    opacity: 1;
}

.information .information-search input:hover {
    /* masquer la bordure lorsque input est survolé*/
    outline: none;
}

.information .information-search .information-search-validate {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 16px;
    border-radius: var(--information-border-radius-lr) var(--information-border-radius) var(--information-border-radius) var(--information-border-radius-lr);
    border: 1px solid var(--main-color);
    background: var(--main-color);
    color: var(--White);
    font-size: 18px;
    font-weight: 700;
}

.information .information-search .information-search-validate .text{
    display: var(--information-span-display);
}

.information .information-search .information-search-validate  .fa-magnifying-glass{
    display: var(--information-magnifying-glass-display);
    color: var(--White);;
}

/*********** Filtre ***********/
.information .information-filter {
    display: flex;
    flex-direction: var(--information-filter-direction);
    gap: var(--information-filter-gap);
}

.information-filter .information-filter-title{
    font-size: 18px;
    margin: 0;
    align-self: var(--information-filter-title-align);
}

.information .information-filter .information-filter-group {
    display: flex;
    gap: var(--information-filter-group-gap);
}

.information .information-filter i {
    font-size: 22px;
}

.information .information-filter .information-filter-action {
    display: flex;
    align-items: center;
    height: var(--information-filter-button-height);
    padding: 4px 19px;
    gap: 10px;
    border-radius: 25px;
    border: 2px solid var(--Grey-Tint2);
    font-size: var(--information-filter-action-font-size);
    font-weight: 700;
    background-color: transparent;
    color: var(--Black);
}

.information .information-filter .information-filter-action:hover {
    background-color: var(--filter-bg-color);
}

/*********** Information ***********/
.information .information-bar {
    display: flex;
    gap: 10px;
}

.information .information-bar .information-bar-text {
    /*centrer verticalement*/
    align-self: center;
}

/*************************************** Hebergements And Populaires ***************************************/
.hebergements-and-populaires {
    display: flex;
    flex-direction: var(--hebergements-popuplaires-display-direction);
    gap:var(--hebergements-popuplaires-gap); 
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    box-sizing: border-box;
}

/*********** Hebergements ***********/
.hebergements-and-populaires .hebergements {
    width: var(--hebergements-width);
    display: flex;
    flex-direction: column;
    gap: var(--hebergements-gap);
    padding: var(--hebergements-padding);
}

.hebergements-and-populaires .hebergements .hebergements-cards {
    display: grid;
    grid-template-columns: var(--hebergements-cards-grid-column);
    gap: var(--hebergements-cards-gap);
}

.hebergements-cards .herbergement-card-link .card {
    /* card prend toute la hauteur du conteneur lors du redimensionnement*/
    height: 100%;
    box-sizing: border-box;
    padding: 0;
}

.hebergements-cards .herbergement-card-link .card img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 5px;
    box-sizing: border-box;
    object-fit: cover;
}

.hebergements-cards .card .card-content{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 4px 15px 15px 15px;
}

.hebergements-cards .card .card-txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hebergements .hebergements-more {
    font-size: 18px;
    font-weight: 700;
}

/*********** Populaires ***********/
.populaires {
    width: var(--populaires-width);
    display: flex;
    flex-direction: column;
    gap: var(--populaires-gap);
    padding: var(--populaires-padding);
}

.populaires  .populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires .populaires-cards {
    display: grid;
    grid-template-columns: var(--populaires-cards-grid-column);
    gap: var(--populaires-cards-gap);
}

.populaires .populaires-cards .card {
    display: flex;
}

.populaires .populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires .populaires-cards .card-content {
    width: 67%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 0px 5px 15px;
}

.populaires .populaires-cards .card .card-txt {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/*********** Activities ***********/
.activities{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
}

.activities-cards {
    display: grid;
    grid-template-columns: var(--activities-cards-grid-column);
    gap : var(--activities-cards-gab);
}

.activities-cards .activities-card-link .card {
    display: flex;
    flex-direction: column;
    height: 100%;  /*card prend toute la hauteur du conteneur lors du redimensionnement*/
    padding: 0px;
}

.activities-cards .card img {
    width: 100%;
    height: var(--activities-img);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities .card-content {
    padding: 20px 19px;
}

/**************************************************************************************/
/**************************************** Footer **************************************/
/**************************************************************************************/
footer {
    display: flex;
    flex-direction: var(--footer-direction);
    background: var(--main-bg-color);
    padding: var(--footer-padding);
    gap: var(--footer-gap);
}

footer div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--footer-div-padding);
    gap: 15px;
}

.footer-title {
    font-size: 18px;
    margin: 0;
}

footer div ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    gap: 15px;
    list-style: none;
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/* Ecrans moyens (tablettes, inférieur/égal à 1024px)*/
@media (max-width: 1024px) {
    :root {
         /* information */
        --information-filter-gap: 20px;
        --information-filter-direction: column;
        --information-filter-title-align: flex-start;

        /* info filtre*/
        --information-filter-action-font-size: 16px;

        /* hebergement-populaire*/
        --hebergements-popuplaires-display-direction: column;
        --hebergements-popuplaires-gap: 50px;

        /* hebergement*/
        --hebergements-width: 100%;

        /* populaire*/
        --populaires-width: 100%;
        --populaires-gap: 20px;
        --populaires-cards-gap: 20px;
        --populaires-cards-grid-column: 1fr 1fr 1fr;

        /* activities*/
        --activities-img: 200px;
        
         /*footer*/
        --footer-gap: 30px;
    }
}

/* Petits ecrans (mobiles, moins de 768px)*/
@media (max-width: 767.98px) {
    :root {
        /* main */
        --main-container-gap: 0px;

         /* Header */
        --header-flex-direction: column;
        --header-padding: 0;
        --header-img-padding: 30px 50px;
        --header-navigation-height: 34px;
        --header-navigation-gap: 0;
        --header-navigation-align-item: start;
        --header-border-top : none;
        --header-border-top-hover : none;
        --header-border-bottom : 2px solid var(--main-bg-color);
        --header-border-bottom-hover : 2px solid var(--main-color);

        /* info recherche*/
        --information-padding: 0 20px;
        --information-search-width: 100%;
        --information-search-input: 100%;
        --information-border-radius-lr: var(--information-border-radius);
        --information-span-display: none;
        --information-magnifying-glass-display: block;

         /* info filtre*/
        --information-filter-group-gap: 20px;
        --information-filter-action-font-size: 14px;

        /* hebergement-populaire*/
        --hebergements-popuplaires-display-direction: column-reverse;
        --hebergements-popuplaires-gap: 15px;

        /* hebergement*/
        --hebergements-padding: 20px;
        --hebergements-gap: 15px;
        --hebergements-cards-grid-column: 1fr;
        --hebergements-cards-gap: 15px;

        /* populaire*/
        --populaires-padding: 30px 20px;
        --populaires-gap: 15px;
        --populaires-cards-gap: 15px;
        --populaires-cards-grid-column: 1fr;

        /* activities*/
        --activities-cards-grid-column: 1fr;
        --activities-cards-gab: 15px;
        --activities-img: 141px;

         /*footer*/
         --footer-direction: column;
        --footer-padding: 30px;
        --footer-gap: 50px;
        --footer-div-padding: 0;
    }

    /*************************** Header **************************/
    header {
        align-items: center;
    }

    .header-navigation {
        align-self: stretch;
    }

    .header-navigation a {
        width: 100%;
        justify-content: center;
    }

     /******************* Information Recherche *******************/
    .information .information-search .information-search-validate { 
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    /********************* Information Filtre **********************/
    .information .information-filter .information-filter-group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }

    .information .information-filter .information-filter-action {
        justify-content: center;
    }

    /*********************** Hebergements *************************/
    .hebergements-and-populaires .hebergements {
        background-color: var(--White);
    }
}