/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --White: #FFF;
    --Black: #000;
    --Grey-Tint2: #D9D9D9;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

h2 {
    font-size: 18px;
    font-weight: 700;
}

/************************************ Header ***********************************/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

header img {
    padding: 30px 50px 30px 0px;
    width: 61px;
}

.header-navigation {
    /* La navigation (nav) doit se trouver moitié au dessus du logo */
    height: 50%;
    display: flex;
    align-self: start;
    gap: 68px; /*forcer un espacement de 68px entre les éléments*/
    padding-left: 50px;
}

.header-navigation .navigation-link {
    /* Pour avoir la bordure bleu au niveau de nav :
     - mettre le lien (a) de même taille que le conteneur parent (nav)
     - utiliser le flexbox et forcer l'alignement du lien en bas
    */
    height: 100%;
    display: flex;
    align-items: end;

    /* Pour éviter l'effet du décalage du text quand il y a le hover: mettre le border top invisible */
    border-top: 2px solid transparent;
}

.header-navigation .navigation-link:hover {
    /* rendre le border top visible*/
    border-top: 2px solid var(--main-color)
}

/************************************ Main ***********************************/

.main-sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:35px;
    padding-bottom: 35px;
}

/****** Information ***********/
.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:35px;
}

.information .information-headline {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

.information .information-headline p {
    font-size: 16px;
    margin: 0px;  /*annuler les margin*/
}

.information .information-search {
    display: flex;
    gap: 24px;
    width: 377px;
    border: 1px solid var(--Grey, #F2F2F2);
    border-radius: 15px 15px;
}

.information .information-search .fa-location-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    border-radius: 15px 0px 0px 15px; /*Caler le border-radius avec celui de l'icone et du bouton*/
    background: #F2F2F2;
    color: var(--Black);
    flex-shrink: 0;
}

.information .information-search input {
    font-size: 18px;
    font-weight: 700;
    padding: 0px;
    width: 147px;
    border: none;
}

.information .information-search input:hover {
    /* masquer la bordure */
    outline: none;
}

.information .information-search .information-search-action {
    display: flex;
    padding: 15px 16px;
    align-items: center;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--main-color);
    background: var(--main-color);
    color: var(--White);
    font-size: 18px;
    font-weight: 700;
}

.information .information-filter {
    display: flex;
    height: 50px;
    align-items: center;
    gap: 15px;
}

.information .information-filter .information-filter-group {
    display: flex;
    height: 100%;
    gap: 15px;
}

.information .information-filter .information-filter-action {
    display: flex;
    padding: 4px 19px;
    align-items: center;
    border-radius: 25px;
    border: 2px solid var(--Grey-Tint2);
    gap: 10px;
    font-size: 17px;
    font-weight: 700;
    background-color: transparent;
}

.information .information-filter .information-filter-action:hover {
    background-color: var(--filter-bg-color);
}

.information .information-bar {
    display: flex;
    gap: 10px;
}

.information .information-bar .information-bar-text {
    /*centrer verticalement*/
    align-self: center;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    gap: 40px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    height: 100%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    gap : 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hebergements-cards .herbergement-card-link {
    flex-basis: 30%;
    flex-grow: 1;
    flex-shrink: 0;
}

.hebergements-cards .herbergement-card-link .card {
    /*display: flex;
    flex-direction: column;*/
    height: 100%;
    box-sizing: border-box;
    gap : 4px;
    padding-bottom: 15px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

.hebergements-cards .card img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card .card-content{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0px 15px;
}

.hebergements-cards .card-content-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hebergements-cards .card .card-title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.hebergements-cards .card .card-subtitle {
    margin: 0;
    font-size: 14px;
}

.hebergements .hebergements-more {
    font-size: 18px;
    font-weight: 700;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activities ***********/
.activities{
    padding: 30px;
}

.activities-cards {
    margin-top: 30px;
    display: flex;
    gap : 30px;
}

.activities-cards .activities-card-link {
    flex-basis: 20%;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
}

.activities-cards .activities-card-link .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    padding: 0px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

.activities-card-link .card img {
    height: 200px;
}

.activities-cards .card img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities .card-content .card-title {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px 19px;
}

/****** Footer ***********/
footer {
    display: flex;
    background: var(--main-bg-color);
    justify-content: space-between;
}

footer div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    gap: 15px;
}

.footer-title {
    font-size: 18px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /****** Information ***********/
    .information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:35px;
    }
    
    .information .information-filter {
        height: 100px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .information-filter-title {
        margin: 0px;
    }

    /****** Herbergemente et populaires ******/
    .hebergements-and-populaires {
        flex-direction: column;
        gap: 0px;
    }

    .hebergements {
        width: 100%;
    }
 
    .populaires {
        width: 100%;
        margin-top: 20px;
    }

    .populaires-cards .card {
        margin-top: 20px;
    }
    
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /****** Activites ******/
    .activities-card-link .card img {
        height: 200px;
    }

}

/* Small devices (phones, less than 768px) 
@media (max-width: 767.98px) {*/
@media (max-width: 767px) {
    .main-container {
        padding: 0;
    }

    /****** Header ******/
    header {
        flex-direction: column;
    }

    header img {
        padding: 30px;
    }
    
    .header-navigation {
        display: flex;
        width: 100%;
        padding-left: 0px;
        gap: 0px;
        height: 100%;
    }

    .header-navigation a {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .header-navigation .navigation-link {
        display: flex;
        align-items: start;
        padding-bottom: 15px;
        border-bottom: 2px solid transparent;
        box-sizing: border-box;
        border-top: none;
    }
    
    .header-navigation .navigation-link:hover {
        /* rendre le border bottom visible*/
        border-bottom: 2px solid var(--main-color);
        border-top: none;
    }

   /****** Information ***********/
    .information {
        padding-left: 20px;
        padding-right: 20px;
    }

    .information .information-search {
        display: flex;
        gap: 0px;
        width: 100%;
        border: 1px solid var(--Grey, #F2F2F2);
        border-radius: 15px 15px;
    }

    .information .information-search input {
        width: 100%;
        text-align: center;
    }

    .information .information-search .information-search-action {
        display: flex;
        padding: 15px 16px;
        border-radius: 15px;
        border: 1px solid var(--main-color);
        background: var(--main-color);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .information .information-search .information-search-action span{
        display: none;
    }

    .information .information-search .information-search-action  .fa-magnifying-glass{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        color: var(--White);
    }

    .information .information-filter {
        height: 100%;
    }

    .information .information-filter .information-filter-group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        gap: 20px;
        column-gap: 10px;
    }

    .information .information-filter .information-filter-action {
        justify-content: center;
        height: 50px;
        color: var(--Black);
    }

     /****** Herbergemente et populaires ******/
    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 15px;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
    }

    .hebergements-and-populaires  .populaires {
        margin-top: 0;
        padding: 30px 20px;
        background-color: var(--main-bg-color);
    }

    .populaires-cards {
        flex-direction: column;
    }   
    
    .populaires-cards .card {
        margin-top: 15px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .hebergements-and-populaires .hebergements {
        padding: 20px;
        background-color: var(--White);
    }
 
    .hebergements-cards {
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    /****** Activites ******/
    .activities{
        padding: 30px;
    }

    .activities-cards {
        flex-direction: column;
        gap : 15px;
    }

    .activities-cards .activities-card-link .card {
        width: 100%;
    }

    /****** Footer ***********/
    footer {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 30px;
    }

    .footer-title {
        margin: 0px;
    }
    
    footer div {
        padding: 0px;
    }

}